<!doctype html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
  <title>Document</title>
  <th:block th:insert="~{fragments/fragments :: bootstrap}"></th:block>
  <!-- BOOTSTRAP STYLE -->
</head>

<body>

  <th:block th:replace="~{fragments/fragments :: header}"></th:block>
  <!-- HEADER -->

  <form th:action="@{pizzas/create}" th:object="${pizza}" method="post" class="container mt-5">

    <h1 class="text-center">Insert your new Pizza here</h1>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Insert pizza name here..." />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" name="description" id="description"
        placeholder="Insert pizza description here..." />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image url</label>
      <input type="text" class="form-control" name="image" id="image" placeholder="Insert pizza image url here..." />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" name="price" id="price" placeholder="Insert pizza price here..." />
    </div>

    <div class="mb-3 d-flex justify-content-between">
      <input type="submit" class="btn btn-warning" value="Create new pizza">
      <input type="reset" class="btn btn-danger" value="Reset all fields">
    </div>
    <!-- BUTTONS -->

  </form>
  <!-- FORM -->

  <th:block th:insert="~{fragments/fragments :: bootstrapJs}"></th:block>
  <!-- BOOTSTRAP SCRIPT -->

</body>

</html>