<!doctype html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
  <title>Document</title>
  <th:block th:insert="~{fragments/fragments :: bootstrap}"></th:block>
  <!-- BOOTSTRAP STYLE -->
</head>

<body>

  <th:block th:replace="~{fragments/fragments :: header}"></th:block>
  <!-- HEADER -->

  <th:block th:replace="~{fragments/fragments :: searchBar}"></th:block>
  <!-- SEARCH BAR -->

  <h1 class="text-center p-2 mt-4">PIZZAS LIST</h1>

  <div class="container d-flex justify-content-end">
    <a th:href="@{pizzas/create}" class="btn btn-warning">Create new pizza</a>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <th:block th:insert="~{fragments/fragments :: pizzasList}"></th:block>
  <!-- PIZZAS LIST -->

  <th:block th:replace="~{fragments/fragments :: bootstrapJs}"></th:block>
  <!-- BOOTSTRAP SCRIPT -->

</body>

</html>