<!doctype html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
  <title>Document</title>
  <th:block th:insert="~{fragments/fragments :: bootstrap}"></th:block>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#">🍕</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page">Home
                <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pizzas</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <section>
    <div class="container">
      <h1 class="text-center p-2 mt-4">PIZZAS LIST</h1>

      <ul th:if="${pizzas.size()>0}" class="list-unstyled pt-3 row row-gap-3">
        <li th:each="pizza : ${pizzas}" th:object="${pizza}" class="col-4">
          <div class="card h-100">
            <img th:src="*{imageUrl}" alt="image">
            <h2 class="px-3 pt-2">[[*{name}]]</h2>
            <h4 class="px-3 h-100">Description: [[*{description}]]</h4>
            <hr class="mx-3">
            <h5 class="px-3">Price: [[*{price}]]€</h5>
          </div>
        </li>
      </ul>

      <h1 th:unless="${pizzas.size()>0}" class="text-center">No pizzas found!</h1>
    </div>
  </section>

  <th:block th:insert="~{fragments/fragments :: bootstrapJs}"></th:block>
</body>

</html>